<div class="frontpage mx-4">

    <!-- Hero -->
    <section class="card flex flex-col items-center overflow-hidden py-16">
        <div class="flex flex-col items-center gap-4">
            <div class="flex items-center gap-3">
                <i class="pi pi-globe text-3xl text-primary"></i>
                <h1 class="text-4xl font-extrabold">Banking App</h1>
            </div>
            <p class="text-center max-w-3xl text-lg text-muted-color">
               Retail Banking – Customer & Account MVP
            </p>

            @if (auth.hasRealmRole('admin')) {
              <div class="flex gap-3 mt-2">
                  <button pButton label="List Customers" icon="pi pi-users" routerLink="/admin/list-accounts"></button>
                  <button pButton label="Create Customer" icon="pi pi-user-plus" class="p-button-outlined" routerLink="/admin/customers/new"></button>
                  <button pButton label="Create New Account" icon="pi pi-wallet" class="p-button-outlined" routerLink="/admin/accounts/new"></button>
              </div>
            }

            @if (auth.hasRealmRole('user')) {
              <div class="flex gap-3 mt-2">
                  <button pButton label="My Accounts" icon="pi pi-credit-card" routerLink="/customer/my-accounts"></button>
                  <button pButton label="New Transfer" icon="pi pi-send" class="p-button-outlined" routerLink="/transfers/new"></button>
              </div>
            }

            <span
                class="animate-bounce h-8 w-8 bg-primary text-primary-contrast rounded-full inline-flex items-center justify-center mt-10">
                <i class="pi pi-arrow-down"></i>
            </span>
        </div>
    </section>

    <div class="h-[30rem]"></div>

   

</div>