<p-autocomplete
  [ngModel]="selected()"
  (ngModelChange)="selected.set($event)"
  [suggestions]="suggestions()"
  (completeMethod)="filter($event)"
  (onSelect)="emitSelect($event)"
  [dropdown]="true"
  [placeholder]="placeholder"
  [forceSelection]="true"
  [minLength]="minLength"
  [inputId]="inputId"
  [disabled]="disabled"
  optionLabel="ticker"
  [showClear]="true"
  (onClear)="handleClear()" 
  dropdownMode="current"
  (keyup.enter)="onEnterKey($event)"
  class="w-full md:w-80"
>
  <ng-template let-item pTemplate="item">
    <div class="flex items-center gap-2">
      <span class="font-mono">{{ item.ticker }}</span>
      <span class="text-sm opacity-80">{{ item.name }}</span>
    </div>
  </ng-template>

  <ng-template pTemplate="selectedItem" let-item>
    <div class="flex items-center gap-2">
      <span class="font-mono">{{ item?.ticker || item }}</span>
      <span class="text-sm opacity-80">{{ item?.name }}</span>
    </div>
  </ng-template>
</p-autocomplete>